HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

## Ignorar arquivos específicos do modelo
/src/models/ItemVestuario.java
/src/models/UtilizadorPrincipal.java

## Ignorar pacotes específicos
/src/exceptions/
/src/configs/
/src/security/
/src/enums/
/src/Repositories/ItemVestuarioRepository.java
/src/Repositories/ReservaRepository.java







### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
